:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --main-color: hsl(238, 51%, 64%);
  --home-bg-color: hsl(0, 0%, 3%);
  --bg-contrast-color-2: hsla(238, 87%, 97%, 70%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-y: visible;
  overflow-x: clip;
}

body {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


/* Input, Selects
––––––––––––––––––––––––––––––––––––––––––––––––––*/
input {
  outline: none;
  resize: none;
  text-indent: 8px;
  font-family: inherit;
}